<?php /** @var \Shaamaan\Lesson1\Block\MyForm $block */ ?>
<form action="<?= $block->escapeHtml($block->getAddUrl()) ?>">
    <div>
        <label for="lesson1_submit_resource"><?= __('Save via resource') ?></label>
        <input type="radio" id="lesson1_submit_resource" name="submitType" value="resource"/>
        <label for="lesson1_submit_repo"><?= __('Save via repository') ?></label>
        <input type="radio" id="lesson1_submit_repo" name="submitType" value="repo"/>
    </div>
    <div>
        <label for="lesson1_data_id"><?= __('Enter something:') ?></label>
        <input id="lesson1_data_id" name="lesson1_data"/>
        <button type="submit"><?= __('Go!') ?></button>
    </div>
</form>